<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content ="width=device-width, initial-scale=1">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% block html_head %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<ul>
				<li>
					<a href="{{ url_for('post')}}">Test Form</a>
				</li>
			</ul>
		</nav>

		<div id="header">
			{% block header %}
			{% endblock %}
		</div>

		<div id="content">
		  {% block content %}
		  {% endblock %}
		</div>

		<footer>
			{% block footer %}
			{% endblock %}
			a
		</footer>
	</body>
</html>