<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content ="width=device-width, initial-scale=1">

		<!--
			Yeah I'm not sure what up with web dev but i know bootstrap is a thing
			I copied this from https://getbootstrap.com/docs/5.1/getting-started/introduction/
			Something seemingly note-worthy about bootstrap is the 'Box-sizing' section mentioned in the above link
			-- Nicholas
		-->
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
			  rel="stylesheet"
			  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
			  crossorigin="anonymous">
		<!-- Our CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

		<title>Flask App Example</title>
	</head>
	<body>


		<p>contents of body</p>
		<a href="{{ url_for('post') }}">test form</a>

		<!-- Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
				crossorigin="anonymous"></script>
	</body>
</html>